{% extends "base.html" %}

{% block header %}
<h1>YOFINDPARKING</h1>
{% endblock %}

{% block content %}
<div id="info">
	<p>Yo to find a parking spot</p>
</div>
<div id="list">
	<p>Click on <a href="http://justyo.co">here</a> to install the latest version of YO</p>
	<p>Add YOFINDPARKING as a contact (click "+" in the YO app)</p>
	<p>Each time you want to find the closest parking lot:</p>
	<ul>
		<li>Double-tap on YOFINDPARKING to send us your location</li>
		<li>We send you back a YO with the address and price of nearest parking lot!</li>
		<li>Unfortunately this is only available in the USA :(</li>
	</ul>

	<span>
	Keep this project alive by supporting it!
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="matthewmilitante@hotmail.com">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="YOFINDPARKING">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="currency_code" value="CAD">
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	</span>
</div>
{% endblock %}